---
/* Komponenter */
import Menu from "../components/Menu.astro";
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
import Footer from "../components/Footer.astro";

/* Indhold i ovenstående komponenter */
import Button from "../components/Button.astro";
import Talebobler from "../components/Talebobler.astro";
import Info from "../components/Info.astro";
import Infoboks from "../components/Infoboks.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
      <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Fra Html</title>

	 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="src/styles/style.css" />
 
  </head>
  <body>
    <Menu />
    <Header title="Vi har brug for dig!" backgroundColor="#BF3F22">
      <div class="grid_1-1">
        <p class="header_tekst">
        Vil du være med til at skabe meningsfuld forandring for mennesker, der er nærtstående til misbrugsramte? Bliv en del af vores frivillig team!
        </p>
        <img class="header_billede" src="/images/ilu7.webp" alt="hands">
      </div>
    </Header>

	  <Section title="Hvad indebærer det at blive frivillig?" backgroundColor="#BF3F22">
      <div class="grid_1-1">
        
        <div>
          <p>Pårørende Netværket Misbrugsportalen søger løbende engagerede frivillige rådgivere, der ønsker at støtte mennesker med misbrugsrelaterede udfordringer – hvad end det er alkohol-, stof- eller medicinmisbrug.</p>

          <p>Som frivillig rådgiver indgår du i et varmt og fagligt stærkt fællesskab af frivillige med relevant baggrund inden for social- og sundhedsområdet, terapeuter, tidligere pårørende, misbrugskonsulenter og meget mere. Som frivillige hos os spiller det ingen rolle, hvor i landet du bor – vores tilbud er alle landsdækkende, og vores interne kommunikation foregår online. Det ændrer dog ikke på, at vi har et utroligt nærværende, levende og støttende fællesskab blandt vores kollegaer!</p>

          <p>Klik forneden for at tilmelde dig næste infomøde i januar!</p>
          
          <Button text="Læs mere"/>
        </div>

        <div>
          <img src="/images/ilu1.webp" alt="people">
        </div>

      </div>
    </Section>

    <Section title="Eksempel på en samtale med pårørende" backgroundColor="#BF3F22">
      <div class="grid_talebobler">
      <div class="left">
        <p>Pårørende</p>
        <img src="/images/samtale1.webp" alt="samtale1">
        <div class="right">
        </div>
      </div>
       <div class="right">
        <p>Rådgiver</p>
        <img src="/images/samtale2.webp" alt="samtale2">
      </div>
       <div class="left">
        <p>Pårørende</p>
        <img src="/images/samtale3.webp" alt="samtale3">
      </div>
        <div class="right">
        <p>Rådgiver</p>
        <img src="/images/samtale4.webp" alt="samtale4">
      </div>
      </div>

    </Section>

    <Section title="Din erfaring og forståelse gør stor forskel i andres liv" backgroundColor="#FCF3E1">
       <div class="grid_1-1">
        <div>
          <p>Har du selv erfaring som tidligere misbrugsramt eller pårørende, og kunne du tænke dig at gøre en forskel for andre mennesker?</p>

          <p>Vores frivillige tilbyder samtalestøtte til individer og familier berørt af misbrug som rådgivere på vores akuttelefon, i individuelle telefoniske samtaleforløb og som terapeutiske gruppeledere i vores online gruppeforløb.</p>

          <p>Som frivillig i vores forening gennemgår du en grunding oplæring og en mentor, der klæder dig på til at støtte andre pårørende gennem samtalestøtte.</p>
          
          <p>Tryk forneden for at blive frivillig</p>

          <Button text="Bliv frivillig"/>
        </div>

        
        <img src="/images/storkroellepil.webp" alt="people">
        
      </div>
    </Section>

    <Section title="Hvorfor blive frivillig?" backgroundColor="#61C6BB">

    </Section>

    <Section title="Ofte stillede spørgsmål" backgroundColor="#FCF3E1">
      <div class="grid_1-1">
        <div>
      <Info text="Hvor mange timer forventer i man arbejder?" answer="Vi har ikke specifikke forventninger alle har forskellige kalendere. Vi finder i fællesskab ud af, hvad der fungerer bedst for dig." />
      <Info text="Kan alle blive frivillige?" answer="JA. Vi tager imod alle med kyshånd, så tøv ikke med at tilmelde dig." />
      <Info text="Bliver man oplært?" answer="Ja. Vi sikrer, at du får en grundig oplæring, der giver dig de nødvendige værktøjer og viden til at støtte pårørende på bedst mulige måde." />
    </div>
    <div>
      <Info text="Hvor arbejder man fra?" answer="Du kan arbejde fra den lokation, der passer dig. Akutrådgivningen tilbyder gratis og fortrolige samtaler, online." />
      <Info text="Hvad er åbningstiderne?" answer="Man - tir: 15.00 - 18.00
ons - fre: 18.00 - 21.00" />
      <Info text="Skal jeg bare udfylde ansøgningsskema som det første?" answer="Nej. Det er vigtigt at du bruger et øjeblik på at gennemført vores introduktionskursus på www.rådgiverportalen.dk." />
    </div>
      </div>
    </Section>

    <Section title="Læs mere om..." backgroundColor="#D9E021">
      <div class="grid_1-1-1">
        <Infoboks/>
        <Infoboks/>
        <Infoboks/>
      </div>
    </Section>

    <Section title="Inden du udfylder ansøgningsformularen, skal du..." backgroundColor="#FCF3E1">
          <div class="grid_1-1">
        <div>
          <p>..have gennemført vores e-lærings introduktionskursus som du finder på forsiden af www.rådgiverportalen.dk</p>

          <p>Herigennem får du et grundigt indblik i rådgiverrollen og kan orientere dig om de vigtigste faglige og praktiske informationer, som potentiel ny frivillig i rådgivningen.</p>

          <p>Felter markeret med * skal udfyldes for at du kan sende ansøgningen, herunder ansøgning, som skal sendes som separat dokument. Vi lægger vægt på at der også indsendes et CV, men det kan eftersendes såfremt du ikke indsender i første omgang.</p>
          
          <p>Når du har udfyldt skemaet, vil du få en automail med information om, hvornår du vil få svar på din ansøgning, samt eventuelt tid til en samtale. Når vi har afviklet ansættelsessamtaler og taget stilling til det videre forløb, vil færdigbehandlede ansøgninger blive slettet.</p>

          <p>Hvis du har spørgsmål eller oplever problemer med at sende din ansøgning, er du meget velkommen til at kontakte sekretariatet alle hverdage fra kl. 10.00 - 15.00 på telefon 70 60 48 46.</p>
          
        </div>

        <div>
          <img src="/images/ilu7.webp" alt="hands">
        </div>
      </div>
    </Section>
  
	   <Section title="Ansøg om en stilling som frivillig rådgiver​" backgroundColor="#BF3F22" class="forms">
         <form action="mailto:mail@misbrugsportalen.dk" method="post" enctype="text/plain">
                <div class="mail_box">
                    <label>
                        Dit fulde navn:<br>
                        <input id="full-name" name="fname" required>
                    </label>
                </div>
                <div class="mail_box">
                    <label>
                        Dit fødselsår:<br>
                        <input id="birth" name="birth" required>
                    </label>
                </div>
                 <div class="mail_box">
                    <label>
                        By:<br>
                        <input id="city" name="city" required>
                    </label>
                </div>
                <div class="mail_box">
                    <label>
                        E-mail:<br>
                        <input id="email" name="email" required>
                    </label>
                </div>
                 <div class="mail_box">
                    <label>
                        Telefonnummer:<br>
                        <input id="number" name="number" required>
                    </label>
                </div>
                <div class="mail_box">
                    <label>
                        Uddannelse eller beskæftigelse:<br>
                        <input id="edu" name="edu" required>
                    </label>
                </div>
                <div class="mail_box">
                    Hvad tiltaler dig ved at være frivillig hos Misbrugsportalen?<br>
                    <textarea name="frivillig" rows="5"></textarea>
                </div>
                <div class="mail_box">
                    Hvilke erfaringer, personlige såvel som faglige, forestiller du dig kunne blive relevante i rollen som frivillig i Misbrugersportalen?<br>
                    <textarea name="erfaring" rows="5"></textarea>
                </div>
                <div class="mail_box">
                  <label>
                      CV - eller andre relevante bilag:<br>
                      <input type="file" id="cv-upload" name="cv" accept=".pdf,.doc,.docx">
                  </label>
                </div>
                <div class="mail_box">
                    Hvordan har du hørt om os?<br>
                    <textarea name="heard" rows="5"></textarea>
                </div>
                <div class="mail_box">
                  <label>
                      <input class="input_check" type="checkbox" id="terms" name="terms" required>
                      Jeg har gennemført Misbrugsportalens introduktionskursus
                  </label>
                </div>
                <div class="mail_box">
                  <label>
                      <input class="input_check" type="checkbox" id="terms" name="terms" required>
                      Jeg accepterer Misbrugersportalens Privatlivspolitik
                  </label>
                </div>

              <Button text="Indsend ansøgning"/>

            </form>
    </Section>
    <Footer />
  </body>
</html>

<style>
   .grid_1-1{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    p{
        font-size: 35px;
    }

    .header_tekst{
      color: #FCF3E1;
      margin-top: -2rem;
    }

    .header_billede{
      margin-top: -17rem;
      margin-left: 5rem;
      width: 60%;
    }


    .grid_talebobler{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8rem;
    }

    .left{
    text-align: left;
    position: relative;
    top: -80px;
    padding-top: 2rem;
    }

    .right{
      text-align: right;
      position: relative;
      top: 80px;
      padding-bottom: 2rem;
    }

    /* forms */

    form {
      color: #ffffff;
      padding-bottom: 10px;
      font-family: "roboto", sans-serif;
      color: white;
      font-weight: lighter;
      max-width: 600px;
      line-height: 1.6;
	  padding-inline: 500px;
    }

    .mail_box {
      padding-bottom: 40px;
    }

    input {
      background-color: var(--primary);
      border: 1px solid #ffffff; 
      padding: 5px; 
      border-radius: 3px;
      color: white;
      font-family: "roboto", sans-serif;
      font-weight: lighter;
      width: 20rem;
    }

    .input_check{
      width: 20px;
      padding: 0;
    }

    textarea {
      background-color: var(--primary);
      border: 1px solid #ffffff;
      padding: 5px;
      border-radius: 3px;
      color: rgba(255, 255, 255, 0);
      font-family: "roboto", sans-serif;
      font-weight: lighter;
      width: 20rem;
    }

</style>
