---
import Menu from "../components/Menu.astro";
import Header from "../components/Header.astro";
import Intro from "../components/Intro.astro";
import Talebobler from "../components/Talebobler.astro";
import Erfaring from "../components/Erfaring.astro";
import Hvorfor from "../components/Hvorfor.astro";
import Faq from "../components/Faq.astro";
import Info from "../components/Info.astro";
import Formsinfo from "../components/Formsinfo.astro";
import Forms from "../components/Forms.astro";
import Footer from "../components/Footer.astro";

---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Fra Html</title>

	 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="src/styles/style.css" />
 
  </head>
  <body>
    <Menu />
    <Header />
	<Intro />
	<Talebobler />
	<Erfaring />
	<Hvorfor />
	<Faq />
	<Info />
	<Formsinfo />
	<Forms />
    <Footer />
  </body>
</html>
