---
const { text } = Astro.props;
---

<button class="button">
  {text}
  <span class="arrow">➜</span>
</button>

<style>
  .button {
    border: none;
    outline: 0;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 0.75rem 1.5rem;
    color: black;
    background-color: #87d8d0;
    text-align: center;
    cursor: pointer;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    font-family: "Roboto";
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }

  .button:hover {
    background-color: #afe4deb4;
  }

  .arrow {
    color: black;
  }
</style>
