---
---
<footer>
    <div class="grid1_1">
        <div>
            <h2>Åbningstider</h2>
            <div class="flex_boks">
                <p>Mandag - Tirsdag</p>
                <p>15.00 - 18.00</p>
            </div>
             <div class="flex_boks">
                <p>Onsdag - Fredag</p>
                <p>18.00 - 21.00</p>
            </div>
            <div class="flex_boks">
                <p>Weekender og helligdage</p>
                <p>Lukket</p>
            </div>
            <p class="lille_tekst">(der tages forbehold for ændringer i åbningstider)</p>
        </div>
        <div></div>
    </div>

</footer>

