---
---
<footer>
    <div class="grid1_1">
        <div>
            <h2 class="red_h2">Åbningstider</h2>
            <div class="flex_boks">
                <p class="red">Mandag - Tirsdag</p>
                <p class="red">15.00 - 18.00</p>
            </div>
            <hr>
             <div class="flex_boks">
                <p class="red">Onsdag - Fredag</p>
                <p class="red">18.00 - 21.00</p>
            </div>
            <hr>
            <div class="flex_boks">
                <p class="red">Weekender og helligdage</p>
                <p class="red">Lukket</p>
            </div>
            <p class="lille_tekst">(der tages forbehold for ændringer i åbningstider)</p>
        </div>
        <div>
            <h2 class="red_h2">Kontaktoplysninger</h2>
            <p class="red">Pårørende Netværket - Misbrugsportalen</p>
            <p class="red">Bagsværd Hovedgade 126, 2880 Bagsværd</p>
            <p class="red">Klik her for rutevejledning</p>
            <p class="red">Akutrådgivning: 70 90 90 80</p>
            <p class="red">Akutrådgivning: 70 90 90 80</p>
            <p class="red">Sekretariat: 70 60 44 46</p>
            <p class="red">mail@misbrugsportalen.dk</p>
        </div>
    </div>

            

</footer>


    <div class="footer_2">
        <div class="grid2_1_1">
             <div>  <h2 class="h2_2">Hvad er Pårørende Netværket - Misbrugsportalen?</h2>
            
                <p>Pårørende Netværket er en frivillig social </p> 
                <p>rådgivningsorganisation, der henvender sig til familier og </p> 
                <p>individer berørt af afhængighed.</p> 

                <p>Foreningen arbejder for at skabe bedre vilkår for </p> 
                <p>pårørende og misbrugsramte gennem vores </p> 
                <p>akutrådgivning, samtaleforløb, terapeutiske gruppeforløb</p>
                <p>og afvikling af projekter såsom landsdækkende </p>
                <p>julehjælp, oplæg og pårørendefællesskaber. </p>
               
                <img src="/images/facebook.webp" alt="">
                <img src="/images/linkedin.webp" alt="">
            </div>
            <div>
                <img src="/public/images/ilu2.svg" alt="">
                
            </div>
         <a href=""><img src="/public/images/logosort.webp" alt="" class="logo_footer"></a>
                    
             
       

<style>

.flex_boks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.grid1_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 300px;
}

.grid2_1_1{
      display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

p{
    font-size: 20px;
      font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    padding-top: 10px;
    max-width: 640px;
}

hr{
     border: none;
  height: 2px;
  background-color: #BF3F22;
}

.footer_2{
    background-color: #61C6BB;
    padding: 5rem;
}

.logo_footer{
  margin-left: auto;
    margin-right: -648px;
  display: block;
}

.lille_tekst{
    font-size: 20px;
    color: #BF3F22;
}

.red{
  font-size: 20px;
    color: #BF3F22;
}

.red_h2{
   font-size: 30px;
    color: #BF3F22; 
     padding-top: 1rem;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        padding-bottom: 45px;
}

.h2_2{
      font-size: 30px;
     padding-top: 1rem;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        padding-bottom: 45px;
}

footer{
    background-color: #FCF3E1;
    padding: 5rem;
}

</style>

