---
const {title, backgroundColor} = Astro.props;
---

<section style=`background-color:${backgroundColor};`>
    <h1>{title}</h1>
    <slot/>
</section>

<style>
    h1{
        font-size: 9rem;
        color: #FCF3E1;
        max-width: 900px;
        margin-top: -2rem;
    }

    section{
        padding: 5rem;
    }

</style>