---
---

<article>
  <!-- <img src=`${imageSrc}` alt=`Image og ${name}` /> -->
<div class="container">
<!--npm -->
<div class="pil"></div>
</div>
</article>

<style>
    .pil {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 40px solid black; 
}
</style>


<!-- 
<section>
    <div class="grid_1-1-1">
        <img src="/images/ilu6.webp" alt="ilu6">
        <p>Tilmeld dig næste infomøde</p>

    </div>
    <div class="grid_1-1-1">
        <img src="/images/lillekroellepil.webp" alt="lillekroellepil">
        <p>Gennemfør introkursus</p>

    </div>
      <div class="grid_1-1-1">
        <img src="/images/ilu1.webp" alt="ilu1">
        <p>Læs mere om rådgiverrollen</p>

    </div>
</section> -->
