---
const {imageSrc, text, backgroundColor, style } = Astro.props;
---


<article style={{ backgroundColor: backgroundColor, borderRadius: '25px', ...style }}>
  <div class="omkreds">
  <img class="infoboks_billeder" src={imageSrc} alt={`Image og ${text}`} />
  <p>{text}</p> 
  <p class="pil">&rarr;</p>
  </div>
</article>

<style>

/* .grid_1-1-1 > .Infoboks {
  display: grid;
  grid-template-columns: subgrid;
} */
.infoboks_billeder{
  max-height: 30rem;
  min-height: 15rem;
  width: 100%;
}

.omkreds{
  margin: 5rem;
}

.pil{
font-size: 90px;
}
</style>