---

---

<nav>
   <a href="index.astro">
                <img src="public/images/lillelogo.webp" alt="Logo">
            </a>
  <ul>
    <li class="beigemenu"><a href="#">Forside</a></li>
    <li><a class="blivfrivillig" href="#">Bliv frivillig</a></li>
    <li><a href="#">Undervisning</a></li>
    <li><a href="#">Vidensbank</a></li>
    <li><a href="#">Mød teamet</a></li>
  </ul>
</nav>

<style>
.logo {
  width: 300px;
  height: auto;
}


nav {
  padding: 2.25rem 4rem;
  background-color: #BF3F22;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: #FFFFED;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}


.blivfrivillig {
    color: #6FE1D4;
   
}




</style>