---
const {title, titleColor, backgroundColor} = Astro.props;
---

<section style=`background-color:${backgroundColor};`>
    <h2 style=`color:${titleColor};`>{title}</h2>
    <slot/>
</section>

<style>
    h2{
        padding-top: 1rem;
        font-size: 45px ;
        max-width: 800px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        padding-bottom: 55px;
    }

     section{
        padding: 5rem;
    }
</style>
