---
---

<body>
        <h1>Eksempel på samtale med pårørende</h1>
        <div>
            <p>Pårørende</p>
            <img src="public/images/samtale1.webp" alt="samtale1">
        </div>
          <div>
            <p>Rådgiver</p>
            <img src="public/images/samtale2.webp" alt="samtale1">
        </div>
         <div>
            <p>Pårørende</p>
            <img src="public/images/samtale3.webp" alt="samtale1">
        </div>
          <div>
            <p>Rådgiver</p>
            <img src="public/images/samtale4.webp" alt="samtale1">
        </div>
</body>

<style>
</style>